h1 {
  text-align: center;
}

.game-container {
  margin: 0 auto;
  width: 400px;
  height: 75px;
  background-color: #7fa8eb;
}

.results-container {
  margin: 0 auto;
  margin-top:50px;
  width: 400px;
  height: 75px;
  background-color: #f78157;
}

span {
  margin: 0 auto;
  width: 300px;
  height: auto;
}

.buttons {
  margin: 0 auto;
  width: 300px;
  height: auto;
  padding: 20px;
}

#reset {

  background-color: yellow;
}

button {
  cursor: pointer;
  border:1px solid black;
  border-radius: 5px;
}
